@import "compass/reset";
@import "compass/css3";

$body_bg: #eee;

html {
    height: 100%;
}
body {
    @include box-sizing(border-box);
    height: 100%;
    padding: 1em;
    background-color: $body_bg;
    overflow-y: scroll;
}

#app {

    position: relative;
    @include box-sizing(border-box);
    width: 100%;
    min-height: 100%;

    font-family: 'Ubuntu', sans-serif;

    h1 {
        font-size: 1.4em;
        font-weight: bold;
        padding: 0.5em 0;
    }
    .width-class {
        display: none;
    }
    .width-class-small {
        display: inline;
    }
    p {
        margin: 1em 0;
        line-height: 1.4em;
    }
}

@media screen and (min-width: 28.75em) {
    #app {
        .width-class {
            display: none;
        }
        .width-class-medium {
            display: inline;
        }
    }
}

@media screen and (min-width: 40.5em) {
    #app {
        .width-class {
            display: none;
        }
        .width-class-large {
            display: inline;
        }
    }
}

@media screen and (min-width: 60em) {
    #app {
        width: 60em;
        margin: 0 auto;
        .width-class {
            display: none;
        }
        .width-class-x-large {
            display: inline;
        }
    }
}